<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">  <meta charset="utf-8">

<body class="container">
    <header class="m-5" th:replace="header :: header"></header>
    <form action="#" th:action="@{/profile}" th:object="${profileDto}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" th:field="*{userName}" placeholder="User Name"
                   th:errorclass="is-invalid" readonly>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"
                   th:errorclass="is-invalid">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name"
                   th:errorclass="is-invalid">

            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" th:field="*{email}" placeholder="Email"
                   th:errorclass="is-invalid" readonly>

            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" th:field="*{balance}" placeholder="Balance"
                   th:errorclass="is-invalid" readonly>

            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            Update password
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" th:field="*{oldPassword}" placeholder="Old Password"
                   th:errorclass="is-invalid">

            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" th:field="*{newPassword}" placeholder="New Password"
                   th:errorclass="is-invalid">

            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Confirm new password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</body>