<header>
    <nav class="navbar navbar-expand-md navigation">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="btn btn-success">
                        Pay My Buddy
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().equals('/home') ? 'active':''}" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().equals('/transfer') ? 'active':''}" href="/transfer">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().equals('/profile') ? 'active':''}" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().equals('/connection') ? 'active':''}" href="/connection">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().equals('/logout') ? 'active':''}" href="/logout">Log off</a>
                </li>
            </ul>
        </div>
    </nav>
</header>